//@import url('https://fonts.googleapis.com/css?family=Mr+Dafoe&subset=latin-ext');
@import url('https://fonts.googleapis.com/css?family=Open+Sans:300&subset=latin-ext');
@font-face {
    font-family: 'HansKendrickLight';
    src: url('#{$fonts-url}HansKendrickLight.eot');
    src: url('#{$fonts-url}HansKendrickLight.eot') format('embedded-opentype'),
    url('#{$fonts-url}HansKendrickLight.woff2') format('woff2'),
    url('#{$fonts-url}HansKendrickLight.woff') format('woff'),
    url('#{$fonts-url}HansKendrickLight.ttf') format('truetype'),
    url('#{$fonts-url}HansKendrickLight.svg#HansKendrickLight') format('svg');
}
@font-face {
    font-family: 'HansKendrickRegular';
    src: url('#{$fonts-url}HansKendrickRegular.eot');
    src: url('#{$fonts-url}HansKendrickRegular.eot') format('embedded-opentype'),
    url('#{$fonts-url}HansKendrickRegular.woff2') format('woff2'),
    url('#{$fonts-url}HansKendrickRegular.woff') format('woff'),
    url('#{$fonts-url}HansKendrickRegular.ttf') format('truetype'),
    url('#{$fonts-url}HansKendrickRegular.svg#HansKendrickRegular') format('svg');
}
@font-face {
    font-family: 'HansKendrickHeavy';
    src: url('#{$fonts-url}HansKendrickHeavy.eot');
    src: url('#{$fonts-url}HansKendrickHeavy.eot') format('embedded-opentype'),
    url('#{$fonts-url}HansKendrickHeavy.woff2') format('woff2'),
    url('#{$fonts-url}HansKendrickHeavy.woff') format('woff'),
    url('#{$fonts-url}HansKendrickHeavy.ttf') format('truetype'),
    url('#{$fonts-url}HansKendrickHeavy.svg#HansKendrickHeavy') format('svg');
}
@font-face {
    font-family: 'icomoon';
    src:  url('#{$fonts-url}icomoon.eot?4w2jn');
    src:  url('#{$fonts-url}icomoon.eot?4w2jn#iefix') format('embedded-opentype'),
    url('#{$fonts-url}icomoon.ttf?4w2jn') format('truetype'),
    url('#{$fonts-url}icomoon.woff?4w2jn') format('woff'),
    url('#{$fonts-url}icomoon.svg?4w2jn#icomoon') format('svg');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'Moderat';
    src: url('#{$fonts-url}moderat-bold-webfont.eot');
    src: url('#{$fonts-url}moderat-bold-webfont.eot?#iefix') format('embedded-opentype'),
    url('#{$fonts-url}moderat-bold-webfont.woff2') format('woff2'),
    url('#{$fonts-url}moderat-bold-webfont.woff') format('woff'),
    url('#{$fonts-url}moderat-bold-webfont.ttf') format('truetype'),
    url('#{$fonts-url}moderat-bold-webfont.svg#moderatbold') format('svg');
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: 'Bebas Neue Book';
    src: url('#{$fonts-url}subset-BebasNeueBook.woff2') format('woff2'),
    url('#{$fonts-url}subset-BebasNeueBook.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: block;
}

@font-face {
    font-family: 'Bebas Neue';
    src: url('#{$fonts-url}subset-BebasNeueBold.woff2') format('woff2'),
    url('#{$fonts-url}subset-BebasNeueBold.woff') format('woff');
    font-weight: bold;
    font-style: normal;
    font-display: block;
}

@font-face {
    font-family: 'Bebas Neue';
    src: url('#{$fonts-url}subset-BebasNeueRegular.woff2') format('woff2'),
    url('#{$fonts-url}subset-BebasNeueRegular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: block;
}