[class^="icon-"], [class*=" icon-"] {
    @include icomoon;
}

.icon-arrow:before {
    content: "\e900";
}
.icon-facebook:before {
    content: "\e901";
}
.icon-instagram:before {
    content: "\e902";
}
.icon-phone:before {
    content: "\e903";
}
.icon-tree1:before {
    content: "\e904";
}
.icon-tree2:before {
    content: "\e905";
}
.icon-cottage:before {
    content: "\e906";
}
.icon-youtube:before {
    content: "\e907";
}
