@mixin font-light($priority:''){
	font-family: "HansKendrickLight", Helvetica, Arial, sans-serif unquote($priority);
	font-weight: normal unquote($priority);
	letter-spacing: 0.2em;
}
@mixin font-regular($priority:''){
	font-family: "HansKendrickRegular", Helvetica, Arial, sans-serif unquote($priority);
	font-weight: normal unquote($priority);
	letter-spacing: 0.2em;
}
@mixin font-bold($priority:''){
	font-family: "HansKendrickHeavy", Helvetica, Arial, sans-serif unquote($priority);
	font-weight: normal unquote($priority);
	letter-spacing: 0.2em;
}
//@mixin font-special($priority:''){
//	font-family: 'Mr Dafoe', cursive unquote($priority);
//	font-weight: normal unquote($priority);
//}
@mixin icomoon{
	//use !important to prevent issues with browser extensions that change fonts
	font-family: 'icomoon' !important;
	speak: none;
	font-style: normal;
	font-weight: normal;
	font-variant: normal;
	text-transform: none;
	line-height: 1;
	//Better Font Rendering
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}
@mixin list-reset{
	display: block;
	padding: 0;
	margin: 0;
	li{
		display: inline-block;
		padding: 0;
		margin: 0;
		list-style: none;
		background-image: none;
	}
}
@mixin css-reset{
	*{
		box-sizing: border-box;
		&:focus{
			outline: none;
		}
	}
	body, html{
		height: 100%;
		padding: 0;
		margin: 0;
		text-size-adjust: 100%;
	}
	img{
		@include img-responsive;
		border: 0;
		user-select: none;
	}
	strong{
		@include font-bold;
	}
	a{
		color: $color-text-primary;
		text-decoration: none;
		&:focus{
			outline: none;
		}
	}
	table, p{
		padding: 0;
		margin: 0;
	}
	table{
		width: 100%;
		border-collapse: collapse;
	}
	table td,
	table th{
		padding: 0;
		vertical-align: top;
	}
	tbody,
	tbody th,
	thead th{
		border: none;
	}
	form, dl, dd, dt{
		padding: 0;
		margin: 0;
		list-style: none;
	}
	ul, ol{
		margin-top: 0;
		margin-bottom: 0;
	}
	ul{
		list-style-type: square;
	}
	h1, h2, h3, h4, h5, h6{
		margin: 0;
		padding: 0;
		line-height: normal;
		font-size: 1em;
		font-weight: normal;
	}
	h1, h1 a, h1 a:hover,
	h2, h2 a, h2 a:hover,
	h3, h3 a, h3 a:hover,
	h4, h4 a, h4 a:hover,
	h5, h5 a, h5 a:hover,
	h6, h6 a, h6 a:hover{
		text-decoration: none;
	}
	sup, sub{
		position: relative;
		font-size: 80%;
	}
	sup{
		transform: translateY(-50%);
	}
	sub{
		transform: translateY(50%);
	}
	a,
	input,
	button,
	img,
	div{
		-webkit-tap-highlight-color:rgba(0,0,0,0);
	}
}
@mixin svg($width,$height,$fill:""){
	> svg{
		width: $width;
		height: $height;
		@if $fill != "" {
			use{
				fill: $fill;
			}
		}
	}
}
@mixin img-responsive{
	width: auto;
	height: auto;
	max-width: 100%;
	max-height: 100%;
	display: block;
}
@mixin iframe-responsive($ratio:56.25%){
	position: relative;
	padding-bottom: $ratio;
	height: 0;
	overflow: hidden;
	iframe{
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
	}
}
@mixin container-gutter($prop:'padding'){
	#{$prop}-left: px($page-gutter-large);
	#{$prop}-right: px($page-gutter-large);
	@media (max-width: $breakpoint-small){
		#{$prop}-left: px($page-gutter-small);
		#{$prop}-right: px($page-gutter-small);
	}
}
@mixin container{
	max-width: px($page-width);
	margin-left: auto;
	margin-right: auto;
	@include container-gutter();
}
@mixin block-gutter($prop:'padding',$side:'left'){
	@media (min-width: ($breakpoint-small + 1)){
		#{$prop}-#{$side}: px($block-offset);
	}
}
@mixin section-border($part: 1){
	position: relative;
	&:before{
		@include position(absolute,null null 0 null);
		content: '';
		height: px(1);
		display: block;
		background-color: $color-text-primary;
		@media (min-width: px($page-width + 1)){
			transform: translateX(-50%);
			left: 50%;
			width: px(($page-width - ($page-gutter-large * 2)) * $part);
			margin-left: px(-1 * ($page-width - ($page-gutter-large * 2)) * (1 - $part) / 2);
		}
		@media (max-width: px($page-width)){
			left: px($page-gutter-large);
			right: px($page-gutter-large);
		}
		@media (max-width: $breakpoint-small){
			left: px($page-gutter-small);
			right: px($page-gutter-small)
		}
	}
}
@mixin grid-childs{
	font-size: 0;
	> *{
		display: inline-block;
		vertical-align: middle;
		font-size: px($font-size-base);
	}
}
@mixin h1{
	@include font-bold;
	line-height: normal;
	font-size: px(36);
	color: $color-text-secondary;
	text-transform: uppercase;
}
@mixin h2{
	@include font-bold;
	line-height: normal;
	font-size: px(36);
	color: $color-text-secondary;
	text-transform: uppercase;
	@media (max-width: $breakpoint-md){
		font-size: px(30);
	}
}
@mixin h3{
	@include font-bold;
	line-height: normal;
	font-size: px(24);
	text-transform: uppercase;
}
@mixin h4{
	@include font-bold;
	line-height: normal;
	text-transform: uppercase;
}
@mixin bottom-space($space:px($space-after-paragraph)){
	margin-bottom: $space;
	&:last-child{
		margin-bottom: 0;
	}
}
@mixin formated-output{
	.el-h1{
		@include bottom-space(.8em);
	}
	.el-h2{
		@include bottom-space(1em);
	}
	.el-h3{
		@include bottom-space(1em);
	}
	.el-h4{
		@include bottom-space();
	}
	p{
		@include bottom-space();
	}
	ul{
		li{
			list-style: disc;
		}
	}
}