//=============================================================================
// GENERAL
//=============================================================================
@include css-reset;
.hc-text-light{
	@include font-light('!important');
	// letter-spacing: 0.1em;
}
.hc-text-regular{
	@include font-regular('!important');
	// letter-spacing: 0.1em;
}
.hc-text-bold{
	@include font-bold('!important');
	// letter-spacing: 0.1em;
}
.hc-text-large{
	font-size: px($font-size-large) !important;
}
.hc-color-black{
	color: $color-black !important;
}
.hc-color-white{
	color: $color-white !important;
}
.hc-color-primary{
	color: $color-text-primary !important;
}
.hc-color-secondary{
	color: $color-text-secondary !important;
}
.hc-align-center{
	text-align: center;
	img{
		margin-left: auto;
		margin-right: auto;
	}
}
.formated-output{
	@include formated-output;
}
.mfp-bottom-bar {
	display: none;
}
button.mfp-arrow {
	padding: px(15) px(15);
	border: px(1) solid white;
	transition: background-color $transition-time $transition-fx;
	cursor: pointer;
	width: auto;
	height: auto;
	&:before{
		@include icomoon;
		content: "\e900";
		line-height: normal;
		font-size: px(40);
		color: white;
		margin: 0;
		position: static;
		width: auto;
		height: auto;
		padding: 0;
		border: 0;
	}
	&:after {
		display: none;
	}
	&.mfp-arrow-left{
		transform: rotate(180deg);
	}
	&:hover{
		background-color: rgba(white,.2);
	}
}
button.mfp-close {
	color: transparent;
	background: url('../i/cancel.svg') no-repeat;
	background-size: contain;
	width: px(30);
	height: px(30);
	top: px(10);
	right: px(10);
}
.slick-slider.items{
	font-size: 0;
	.slick-dir-nav{
		@include position(absolute,50% null null null);
		z-index: 20;
		display: inline-block;
		padding: px(15);
		border: px(1) solid $color-text-primary;
		transition: background-color $transition-time $transition-fx;
		cursor: pointer;
		@media (max-width: $breakpoint-md){
			padding: px(10);
		}
		&:before{
			@include icomoon;
			content: "\e900";
			line-height: normal;
			font-size: px(40);
			@media (max-width: $breakpoint-md){
				font-size: px(15);
			}
		}
		&.prev{
			left: 0;
			transform: translate(-75%,-50%) rotate(180deg);
		}
		&.next{
			right: 0;
			transform: translate(75%,-50%);
		}
		&:hover{
			background-color: rgba($color-text-primary,.2);
		}
	}
}
.qtip {
	display: none !important;
}
.mouse-position-mover {
	perspective-origin: 50% 50% !important;
	transition: 5s;
	.mouse-position-mover-item {
		//opacity: 0;
		transition: 5s;
	}
	&.mouse-position-mover-initialized {
		.mouse-position-mover-item {
			//opacity: 1;
		}
	}
}
//=============================================================================
// LAYOUT
//=============================================================================
body{
	font-family: 'Open Sans', sans-serif;
	font-size: px($font-size-base);
	color: $color-text-primary;
	background-color: $color-bg;
}
#header{
	background: url('#{$images-url}header-bg.png') no-repeat top;
	background-position: center;
	background-size: auto 100%;
	> .inner{
		@include container;
		position: relative;
		height: px(194);
	}
	.nav-toggle{
		@include position(absolute,50% 0 null null);
		@include container-gutter;
		transform: translateY(-50%);
		padding-top: px(10);
		padding-bottom: px(10);
		display: block;
		cursor: pointer;
		.burger{
			@include burger(px(35),px(3),px(5),$color-text-primary,0,$transition-time);
			.nav-active &{
				@include burger-to-cross();
			}
		}
	}
	.logo{
		text-align: center;
		.logo-title{
			display: inline-block;
			// letter-spacing: .15em;
			font-size: px(33);
			@include font-regular();
			text-transform: uppercase;
		}
		.logo-slogan{
			width: px(174);
			display: inline-block;
			.slogan-first{
				@include font-bold();
				display: inline-block;
				// letter-spacing: .15em;
				font-size: px(14);
				text-transform: uppercase;
			}
			.slogan-second{
				position: relative;
				display: block;
				padding-bottom: 22%;
				line-height: 0;
				font-size: 0;
				color: rgba($color-text-secondary,0);
				background: url('#{$images-url}logo-slogan.svg') no-repeat center top;
				background-size: contain;
			}
		}
	}
	.header-nav{
		ul{
			@include list-reset;
			display: inline-block;
			a{
				transition: color $transition-time $transition-fx;
				@include font-regular();
				&:hover{
					color: $color-text-secondary;
				}
			}
			&.header-menu{
				a{
					font-size: px(14);
					text-transform: uppercase;
					&.active{
						@include font-bold();
						color: $color-text-primary !important;
					}
				}
			}
			&.header-social{
				li{
					&:last-child{
						padding-right: 0 !important;
					}
				}
				i{
					font-size: px(20);
				}
			}
		}
	}
	@media (min-width: px(1470)){
		background-position: calc(50% - 75px) 50%;
		.logo{
			padding: 0 px(20);
			@include position(absolute,px(72) 100% null null);
			.logo-title{
				margin-bottom: px(45);
			}
			.logo-slogan{
				.slogan-first{
					margin-bottom: px(5);
				}
			}
		}
		.nav-toggle{
			display: none;
		}
		.header-nav{
			@include position(absolute,px(100) px(-180) null null);
			display: flex;
			align-items: center;
			ul{
				&.header-menu{
					li{
						padding-right: px(50);
					}
				}
				&.header-social{
					li{
						padding-right: px(25);
					}
				}
			}
		}
	}
	@media (min-width: px(1570)){
		.logo{
			padding: 0 px(60);
		}
	}
	@media (max-width: px(1469)){
		background-position: px(-150) 0;
		.logo{
			@include position(relative,50% null null null);
			transform: translateY(-50%);
			display: flex;
			align-items: center;
		}
		.header-nav{
			@include position(absolute,50% 0 null null);
			@include container-gutter('margin');
			transform: translateY(px(30));
			z-index: 200;
			display: none;
			padding: px(30) px(40);
			border: px(1) solid $color-text-primary;
			background-color: rgba($color-white,.9);
			ul{
				display: block;
				&.header-menu{
					li{
						display: block;
						text-align: center;
						margin-bottom: px(20);
					}
					a{
						font-size: px(18);
					}
				}
				&.header-social{
					padding-top: px(10);
					display: flex;
					justify-content: space-between;
				}
			}
			.nav-active &{
				display: block;
			}
		}
	}
	@media (max-width: px(540)){
		.logo{
			.logo-slogan{
				display: none;
			}
		}
	}

}
#main{
	//overflow: hidden;
}
#main-wrapper {
	overflow: hidden;
	width: 100%;
	min-height: 100%;
}
#footer{
	position: relative;
	padding-top: px(100);
	padding-bottom: px(50);
	background: url('#{$images-url}footer-bg.jpg') repeat center center;
	.el-float-obj {
		opacity: 1;
		transition: none;
		z-index: 1;
		&.num-1 {
			top: px(-210);
			right: 0;
			@media (max-width: $breakpoint-xl){
				display: none;
			}
		}
	}
	> .inner{
		@include container;
		position: relative;
		z-index: 5;
	}
	.footer-cols{
		> *{
			padding-bottom: px(50);
		}
		@media (min-width: ($breakpoint-small + 1)){
			display: flex;
			> *{
				width: 25%;
				padding-right: px(50);
			}
		}
		@media (max-width: $breakpoint-lg){
			flex-wrap: wrap;
			> *{
				width: 49%;
			}
		}
		@media (max-width: $breakpoint-small){
			text-align: center;
			> *{
				width: 100%;
				padding-right: 0;
			}
		}
	}
	*:not(.footer-title){
		@include font-regular();
		letter-spacing: 0;
		line-height: 1.6em;
		color: $color-primary;
	}
	.footer-title{
		@include font-bold();
		letter-spacing: 0;
		padding-bottom: 1em;
		color: $color-white;
	}
	.footer-menu{
		@include list-reset;
		li{
			display: block;
		}
	}
	.footer-social{
		@include list-reset;
		li{
			padding-right: px(20);
			a{
				font-size: px(18);
			}
		}
	}
}
//=============================================================================
// LANDING
//=============================================================================
#landing{
	display: none;
	.el-float-obj {
		opacity: 0;
		transition: 0.5s;
		.preloader-complete & {
			opacity: 1;
		}
	}
}
@keyframes rotate-object-5 {
	100% { transform: rotate(5deg) translateX(-20px); }
}
@keyframes rotate-object-7 {
	0% { transform: translateX(-10px); }
	100% { transform: rotate(7deg); }
}
@keyframes counter-rotate-object-5 {
	0% { transform: rotate(0); }
	100% { transform: rotate(-5deg) translateX(-15px); }
}
@keyframes counter-rotate-object-7 {
	0% { transform: translateX(-30px); }
	100% { transform: rotate(-7deg); }
}
@media (min-height: px(600)) and (min-width: $breakpoint-lg) {
	#landing{
		@include position(fixed,0 0 0 0);
		z-index: 1000;
		overflow: hidden;
		display: block;
		text-align: center;
		background: $color-bg url('#{$images-url}landing-bg.jpg') no-repeat center center;
		background-size: cover;
		visibility: hidden;
		opacity: 0;
		transition: 0.5s;
		> .inner{
			@include position(absolute,0 0 0 0);
			z-index: 50;
		}
		.el-float-obj {
			&.num-1{
				z-index: 2;
				top: 0;
				left: px(90);
				animation: counter-rotate-object-5 7s;
				animation-fill-mode: forwards;
				@media (max-width: 1350px) {
					top: -60px;
					left: -50px;
				}
			}
			&.num-2{
				z-index: 1;
				top: px(-80);
				right: px(200);
				animation: counter-rotate-object-7 7s;
				animation-fill-mode: forwards;
				@media (max-width: 1350px) {
					right: px(-90);
				}
			}
			&.num-3{
				z-index: 3;
				top: px(85);
				right: px(-35);
				animation: counter-rotate-object-5 7s;
				animation-fill-mode: forwards;
				@media (max-width: 1350px) {
					right: px(-90);
				}
			}
			&.num-4{
				z-index: 5;
				top: 50%;
				left: px(40);
				animation: rotate-object-7 7s;
				animation-fill-mode: forwards;
				@media (max-width: 1350px) {

				}
			}
			&.num-5{
				z-index: 4;
				bottom: 0;
				left: 0;
				animation: rotate-object-5 7s;
				animation-fill-mode: forwards;
				@media (max-width: 1350px) {
					bottom: -110px;
					left: -100px;
				}
			}
			&.num-6{
				z-index: 7;
				bottom: 0;
				left: 35%;
				animation: rotate-object-5 7s;
				animation-fill-mode: forwards;
				@media (max-width: 1350px) {

				}
			}
			&.num-7{
				z-index: 6;
				bottom: 0;
				right: px(70);
				animation: rotate-object-7 7s;
				animation-fill-mode: forwards;
				@media (max-width: 1350px) {
					bottom: -100px;
					right: 10px;
				}
			}
		}
		.landing-title{
			@include position(absolute,50% 0 null 0);
			transform: translateY(-50%);
			line-height: 1.3em;
			// letter-spacing: .15em;
			font-size: px(115);
			@include font-regular();
			text-transform: uppercase;
		}
		.landing-subtitle{
			@include position(absolute,20% 0 null 0);
			transform: translateY(-50%);
			line-height: 1.6em;
			// letter-spacing: .2em;
			font-size: px($font-size-base);
			@include font-bold();
			text-transform: uppercase;
		}
		.landing-visible & {
			visibility: visible;
			opacity: 1;
			transition: opacity 0.5s;
		}
	}
	body.landing-visible {
		overflow: hidden;
	}
}
//=============================================================================
// STYLES
//=============================================================================
.el-h1{
	@include h1;
}
.el-h2{
	@include h2;
	&--regular{
		@include h2;
		@include font-regular();
		margin-bottom: 1em;
	}
}
.el-h3{
	@include h3;
}
.el-h4{
	@include h4;
}
.el-btn{
    font-family: Moderat;
    font-size: 1.1em;
    font-weight: bold;
    letter-spacing: 0;
	transition: $transition;
	display: inline-block;
	padding: px(7) px(15);
	border: px(1) solid $color-primary;
	color: $color-primary;
	&:after{
		content: '\00279C';
		display: inline-block;
		margin-left: px(10);
		font-size: 0.85em;
	}
	&:hover{
		background-color: rgba($color-primary,.2);
	}
}
.el-float-obj{
	@include position(absolute,null null null null);
	z-index: 40;
	pointer-events: none;
    &.parallax-mover-item {
      opacity: 0;
      transition: opacity 0.25s;
      &.parallax-mover-initialized {
          opacity: 1;
      }
    }
	@media (max-width: ($breakpoint-lg)){
		display: none;
	}
}
.el-section{
	position: relative;
	> .inner{
		position: relative;
		//z-index: 2;
		@include container;
      &.inner-no-right-padding {
        padding-right: 0;
      }
	}
	> .el-float-obj{
		@media (max-width: $breakpoint-xl){
			display: none;
		}
	}
}
.el-slider{
	.items {
		opacity: 0;
		transition: 0.25s;
		&.slick-initialized {
			opacity: 1;
		}
	}
	.item{
		position: relative;
	}
	.img-bg{
		position: relative;
		display: block;
		padding-bottom: 56.25%;
		background: no-repeat center center;
		background-size: cover;
	}
}
.el-gallery{
	.items,
	.thumbnails{
		opacity: 0;
		transition: 0.25s;
		&.slick-initialized {
			opacity: 1;
		}
		.item,
		.thumbnail{
			display: none;
			&:first-child{
				display: block;
			}
		}
	}
	.item{
		position: relative;
	}
	.img-bg{
		position: relative;
		display: block;
		padding-bottom: 56.25%;
		background: no-repeat center center;
		background-size: cover;
	}
	.thumbnail{
		.in{
			transition: $transition;
			width: px(200);
			display: block;
			padding: px(10) px(5) 0 px(5);
			cursor: pointer;
		}
	}
	.slick-slide:not(.slick-current) .thumbnail .in{
		opacity: .2;
	}
	@media (max-width: ($breakpoint-small)){
		.thumbnails{
			display: none;
		}
	}
}
.el-text-offset{
	position: relative;
	margin-left: px($text-offset);
	> i{
		@include position(absolute,0 null null 0);
		transform: translateX(-100%);
		padding-right: px(8);
        top: px(5);
        left: px(-3);
        font-size: px(22);

		&:not(.icon-arrow){
			transform: translate(-100%,-10%);
			padding-right: px(12);
			font-size: px(32);
			color: $color-primary;
		}
	}
}
.el-badge-text {
	display: flex;
	align-items: center;
	&__badge {
		margin-right: px(10);
		img {
			max-height: none;
		}
		&--sm {
			flex: 0 0 px(50);
		}
	}
}
.el-cols{
	$gutter: 15;
	> *{
		padding-bottom: px(30);
	}
	@media (min-width: ($breakpoint-xs + 1)) {
		display: flex;
		padding-bottom: 0;
		margin: 0 px(-$gutter);
		> *{
			max-width: px(250);
			padding: 0 px($gutter);
		}
		&.cols-2 > *{
			max-width: px(300);
		}
	}
}
.el-legend-color{
	width: px(15);
	height: px(15);
	display: inline-block;
	border: px(1) solid $color-black;
	&.color-1{
		background-color: $color-plan-1;
		border-color: darken($color-plan-1,10%);
	}
	&.color-2{
		background-color: $color-plan-2;
		border-color: darken($color-plan-2,10%);
	}
	&.color-3{
		background-color: $color-plan-3;
		border-color: darken($color-plan-3,10%);
	}
	&.color-4{
		background-color: $color-plan-4;
		border-color: darken($color-plan-4,10%);
	}
	&.color-5{
		background-color: $color-plan-5;
		border-color: darken($color-plan-5,10%);
	}
}
.block-text{
	@include block-gutter('padding','left');
	@include block-gutter('padding','right');
}
.block-halves{
	> .text-wrap {
		padding-bottom: px(40);
	}
	&--text-offset {
		@media (min-width: ($breakpoint-lg + 1)) {
			transform: translateX(80px);
		}
	}
	@media (min-width: ($breakpoint-small + 1)) {
		display: flex;
		> .text-wrap {
			flex: 1;
			padding-bottom: 0;
		}
		> .image-wrap{
			width: 50%;
			img{
				margin: 0 auto;
				&.upscale_1-5 {
					transform: scale(1.5) translateY(10%);
				}
                &.upscale_1-5_x-5 {
                    transform: scale(1.5) translateY(10%) translateX(-5%);
                }
                &.upscale_1-5_x-10 {
                    transform: scale(1.5) translateY(10%) translateX(-10%);
                }
                &.upscale_1-5_x-20 {
                    transform: scale(1.5) translateY(10%) translateX(-20%);
                }
                &.upscale_1-5_x5 {
                    transform: scale(1.5) translateY(10%) translateX(5%);
                }
                &.upscale_1-5_x10 {
                    transform: scale(1.5) translateY(10%) translateX(10%);
                }
                &.upscale_1-5_x20 {
                    transform: scale(1.5) translateY(10%) translateX(20%);
                }
				&.upscale_1-25 {
					transform: scale(1.25) translateY(10%);
				}
                &.upscale_1-25_x-5 {
                    transform: scale(1.25) translateY(10%) translateX(-5%);
                }
                &.upscale_1-25_x-10 {
                    transform: scale(1.25) translateY(10%) translateX(-10%);
                }
                &.upscale_1-25_x-20 {
                    transform: scale(1.25) translateY(10%) translateX(-20%);
                }
                &.upscale_1-25_x5 {
                    transform: scale(1.25) translateY(10%) translateX(5%);
                }
                &.upscale_1-25_x10 {
                    transform: scale(1.25) translateY(10%) translateX(10%);
                }
                &.upscale_1-25_x20 {
                    transform: scale(1.25) translateY(10%) translateX(20%);
                }
                &.upscale_1-25_x15_y0 {
                  transform: scale(1.25) translateY(0%) translateX(15%);
                }
                &.upscale_1-25_x-15_y0 {
                  transform: scale(1.25) translateY(0%) translateX(-15%);
                }
			}
		}
		&:not(.image-left) .text-wrap{
			//padding-left: px($block-offset);
			padding-right: px($page-gutter-large);
		}
		&.image-left{
			flex-direction: row-reverse;
			.text-wrap{
				//padding-right: px($block-offset);
				padding-left: px($page-gutter-large);
			}
		}
	}
}
.section-3d-nav {
	.full-nav { display: block; }
	.select-nav { display: none; }
	@media (max-width: ($breakpoint-md)){
		.full-nav { display: none; }
		.select-nav { display: block; }
	}
	.select-nav {
		.select-wrap {
			position: relative;
			&:after {
				content: '\25BC';
				position: absolute;
				top: 50%;
				right: px(10);
				transform: translateY(-50%);
			}
		}
		select {
			@include font-bold();
			width: 100%;
			font-size: px(20);
			padding: px(7) px(30) px(7) px(5);
			border: px(1) solid $color-black;
			background: none;
			appearance: none;
		}
	}
}
.block-visualization{
	position: relative;
	.desc-wrap{
		position: absolute;
		visibility: hidden;
		opacity: 0;
		z-index: 10;
		min-width: px(180);
		padding: px(15) px(20);
		color: $color-white;
		background-color: $color-vis;
		margin: -32px 0 0 19px;
		transition: 0.25s;
		&.active {
			visibility: visible;
			opacity: 1;
			transition: opacity 0.25s;
		}
		&:before{
			@include position(absolute,px(13) 99.9% null null);
			content: '';
			width: 0;
			height: 0;
			display: block;
			border-style: solid;
			border-width: px(19) px(19) px(19) 0;
			border-color: transparent $color-vis transparent transparent;
		}
		.title{
			@include font-bold();
			padding-bottom: .8em;
			text-transform: uppercase;
		}
		.apartment-label{
			height: px(27);
			line-height: px(27);
			text-align: center;
			padding: 0 px(5);
			font-size: px(15);
			font-family: 'HansKendrickRegular', Helvetica, Arial, sans-serif;
			color: #362f2d;
/*			&:first-of-type{
				background: #d1eca5;
				margin-bottom: px(7);
			}
			&:last-of-type{
				background: #f1c7d3;
				margin-bottom: px(14);
			}*/

			&.apartment-label--free{
				background: #d1eca5;
				margin-bottom: px(7);
			}
			&.apartment-label--sold{
				margin-bottom: px(14);
				background: #7e1544;
				color: #ba3771;
			}
		}
		.params{
			@include list-reset;
			padding-bottom: px(12);
			@include font-regular();
			font-size: px(11);
			li{
				line-height: 1.2em;
				display: block;
				@include bottom-space(px(3));
			}
		}
		.btn{
			display: inline-block;
			padding: 0 px(8);
			height: px(28);
			line-height: px(26);
			@include font-bold();
			font-size: px(11);
			// letter-spacing: .2em;
			//color: $color-white;
			color: #ed6e88;
			//border: px(1) solid $color-white;
			border: px(1) solid #ed6e88;
			text-transform: uppercase;
			/*opacity: .6;
			transition: opacity $transition-time $transition-fx;*/
			&:hover{
				//opacity: 1;
				border-color: #fff;
				color: #fff;
			}
		}
		&--sold {
			/*background-color: #777;*/
			&:before{
				/*border-color: transparent #777 transparent transparent;*/
			}
			.btn {
				/*border-color: #fff;
				color: #fff;*/
				&:hover {
					/*background: #fff;
					color: #777;*/
				}
			}
		}
	}
}
.block-plan{
	@include clearfix;
	border: px(1) solid $color-black;
	.plan-wrap{
		display: none;
		float: left;
		width: 50%;
		.button{
			transition: $transition;
			max-width: px(215);
			line-height: 1em;
			display: block;
			padding: px(12);
			margin: px(15) auto 0 auto;
			border-width: px(2);
			border-style: solid;
			text-align: center;
			text-transform: uppercase;

			&--sold{
				color: #9f9a87;
				border-color: #aca794;
				background-color: transparent;
			}

			&--free{
				color: #fff;
				border-color: #435106;
				background: #435106;
			}


		}

		.apartment-label--free {
			background: #cde8a2;
		}

		.apartment-label--sold {
			background: #f1c7d3;
		}


/*		&:nth-child(odd){
			.apartment-label{
				background: #f1c7d3;
			}
			.button{
				color: #a21654;
				border-color: #a21654;
				background-color: rgba(#a21654,.6);
			}
		}*/
		&:nth-child(even){
/*			.apartment-label--free{
				background: #cde8a2;
			}*/
			.text-wrap{
				position: relative;
				&:before{
					position: absolute;
					width: 1px;
					height: 100%;
					background: #000;
					content: '';
					top: 0;
					right: px(-50);
					display: block;
				}
			}
/*			.button{
				color: #5c840b;
				border-color: #5c840b;
			}*/
		}



		&.active {
			/*display: block;*/
			display: flex;
			flex-direction: column-reverse
		}
		> .text-wrap{
			flex: 1;
			/*padding-right: px(50);*/
			padding-bottom: px(55);
			text-align: center;
		}
		.apartment-label{
			display: inline-block;
			height: px(30);
			line-height: px(30);
			padding: 0 px(16);

		}
		.title{
			padding-bottom: 1em;
			font-family: 'HansKendrickRegular', Helvetica, Arial, sans-serif;
			strong{
				font-family: 'HansKendrickHeavy', Helvetica, Arial, sans-serif;
			}
		}
		.params{
			@include list-reset;
			li {
				@include bottom-space(px(5));
				display: block;
				@include font-regular();
			}
		}
		.desc{
			@include list-reset;
			padding-top: px(25);
			li{
				@include bottom-space(px(10));
				display: block;
				font-size: 0;
				> *{
					display: inline-block;
					vertical-align: middle;
					font-size: px($font-size-base);
					@include font-regular();
				}
				.el-legend-color{
					margin-right: px(20);
					border: none;
				}
			}
		}
		@media (min-width: ($breakpoint-md + 1)){
			/*flex-direction: row-reverse;*/
			/*> .image-wrap{
				width: 55%;
			}*/
			/*> .text-wrap{
				flex: 1;
				padding-right: px(50);
			}*/
			/*&.active {
				display: flex;
			}*/
		}
		@media (min-width: ($breakpoint-small + 1)){
			padding: px(50);
		}
		@media (max-width: $breakpoint-md){
			.image-wrap{
				/*padding-bottom: px(50);*/
				img{
					margin: 0 auto;
				}
			}
		}
		@media (max-width: $breakpoint-small){
			padding: px(35) px(25);
			float: none;
			width: 100%;
			&:nth-child(even){
				border-bottom: 1px solid #000;
			}
		}
	}
	.legend-wrap{
		width: px(280);
		padding-top: px(40);
		@media (min-width: ($breakpoint-small + 1)){
			float: right;
		}
		@media (max-width: $breakpoint-small){
			margin: 0 auto;
		}
		.title{
			padding: .6em .9em .5em .9em;
			margin-bottom: 1em;
			@include font-bold();
			// letter-spacing: .4em;
			font-size: px(12);
			color: $color-bg;
			background: $color-black;
			text-transform: uppercase;
		}
		.legend-row{
			display: flex;
			align-items: center;
			align-content: center;
			justify-content: space-between;
			padding-top: px(7);
		}
		.legend-col{
			font-size: 0;
			> *{
				display: inline-block;
				vertical-align: middle;
				@include font-regular();
				font-size: px(12);
			}
		}
		.el-legend-color{
			width: px(48);
			height: px(18);
			margin-right: px(8);
		}
	}
}
//=============================================================================
// PAGES
//=============================================================================
.section-contact{
	padding-top: px(200);
	padding-bottom: px(150);
	text-align: center;
	font-size: 0;
	@media (max-width: $breakpoint-md){
		padding-top: px(50);
		padding-bottom: px(50);
	}
	.el-float-obj {
		&.num-1 {
			top: px(50);
			left: px(20);
		}
	}
	.download-link {
		@include font-regular;
		display: block;
		font-size: 0.9rem;
		margin-top: 1rem;
		margin-bottom: px(55);
		text-transform: uppercase;
		&__link {
			border-bottom: 1px solid $color-text-primary;
			cursor: pointer;
			&:hover {
				border: none;
			}
		}
	}
	.section-title{
		padding-bottom: px(30);
	}
	.cta{
		@include font-regular();
		display: inline-block;
		text-transform: uppercase;
		padding: .5em 1em;
		color: $color-text-primary;
		border: px(1) solid $color-text-primary;
		transition: background-color $transition-time $transition-fx;
		&:hover{
			background-color: rgba($color-text-primary,.2);
		}
	}
	.section-title,
	.cta{
		.phone-number {
			white-space: nowrap;
		}
		@media (min-width: ($breakpoint-lg + 1)){
			font-size: px(30);
			// letter-spacing: .2em;
		}
		@media (max-width: $breakpoint-lg){
			font-size: px(26);
		}
		@media (max-width: $breakpoint-sm){
			font-size: px(20);
		}
	}
}
.section-benefits{
	.block-title{
		margin-bottom: px(50);
	}
}
.page-front{
	.section-slider{
		padding-bottom: px(215);
		@media (max-width: ($breakpoint-lg)){
			padding-bottom: px(80);
		}
		.el-float-obj{
			&.num-1{
				top: 0;
				right: 0;
			}
			&.num-2{
				bottom: px(-350);
				right: px(-220);
			}
			&.num-3{
				top: px(150);
				left: px(-20);
			}
			&.num-4{
				bottom: px(-180);
				left: px(-130);
			}
		}
		.el-slider{
			position: relative;
			.badge{
				@include position(absolute,null null 0 60%);
				transform: translateY(55%) rotate(-8deg);
				z-index: 50;
				width: px(160);
				height: px(160);
				display: block;
				border-radius: 50%;
				background-color: #70a435;
				> .inner{
					@include position(absolute,50% null null 50%);
					transform: translate(-50%,-50%);
					text-align: center;
					text-transform: uppercase;
				}
				p{
					@include font-regular();
					// letter-spacing: .2em;
					line-height: 1.4em;
					padding: 0 0 .3em .2em;
					&:last-child{
						padding-bottom: 0;
					}
				}
				@media (max-width: ($breakpoint-lg)){
					width: px(120);
					height: px(120);
					p{
						font-size: px(13);
					}
				}
				@media (max-width: ($breakpoint-sm)){
					left: 40%;
				}
			}
		}
	}
	.section-why{
		@include section-border;
		> .inner{
			padding-bottom: px(40);
		}
		.el-float-obj {
			&.num-1 {
				bottom: px(110);
				right: px(-180);
			}
			&.num-2 {
				bottom: px(-275);
				left: px(-230);
			}
		}
		.block-title{
			padding-bottom: px(40);
		}
	}
	.section-about{
		@include section-border(0.65);
		> .inner{
			padding-top: px(40);
			padding-bottom: px(40);
		}
		.el-float-obj {
			&.num-1 {
				bottom: px(25);
				right: px(-80);
			}
		}
	}
	.section-gallery{
		@include section-border;
		> .inner{
			padding-top: px(60);
			padding-bottom: px(210);
			@media (max-width: $breakpoint-md){
				padding-bottom: px(60);
			}
		}
		.el-float-obj {
			&.num-1{
				top: px(30);
				left: px(50);
			}
			&.num-2{
				top: px(190);
				left: px(50);
			}
			&.num-3{
				top: px(80);
				right: 0;
			}
			&.num-4{
				top: px(420);
				right: px(55);
			}
			&.num-5{
				left: px(220);
				bottom: px(30);
			}
			&.num-6{
				left: px(-200);
				bottom: px(110);
			}
		}
		.block-text{
			padding-bottom: px(30);
			@media (min-width: ($breakpoint-md + 1)){
				display: flex;
				align-items: flex-end;
				justify-content: space-between;
			}

		}
		.section-title{
			line-height: 1em;
			@media (max-width: $breakpoint-md){
				padding-bottom: 1em;
			}
		}
		.section-tabs{
			@include list-reset;
			font-size: 0;
			li{
				position: relative;
				padding-left: px(23);
				&:before{
					@include position(absolute,50% null null px(10));
					content: '';
					width: px(3);
					height: px(3);
					display: block;
					border-radius: 50%;
					background-color: $color-text-primary;
				}
				&:first-child{
					padding-left: 0;
					&:before{
						display: none;
					}
				}
				a{
					@include font-regular();
					// letter-spacing: .1em;
					font-size: px($font-size-base);
					text-transform: uppercase;
				}
				&.active a{
					@include font-bold();
				}
			}
		}
	}
	.section-locality{
		@include section-border;
		padding-top: px(80);
		padding-bottom: px(80);
        .section-title {
          margin-bottom: 2em;
        }
		.el-float-obj {
			&.num-1{
				top: px(55);
				left: px(130);
			}
			&.num-2{
				top: px(180);
				left: px(35);
			}
			&.num-3{
				top: px(-60);
				right: px(-220);
			}
			&.num-4{
				bottom: px(-220);
				right: px(-250);
			}
		}
		.map-wrap {
			position: relative;
			padding-bottom: px(420);
			height: 0;
			overflow: hidden;
			.map-embed {
				position: absolute;
				top: 0;
				left: 0;
				width: 100%;
				height: 100%;
				img { max-width: inherit; max-height: inherit; }
			}
		}
	}
	.section-visualization{
		@include section-border;
		> .inner {
			padding-top: px(40);
			padding-bottom: px(140);
			@media (max-width: $breakpoint-md){
				padding-bottom: px(40);
			}
		}
		.el-float-obj {
			&.num-1 {
				top: px(140);
				left: px(-260);
			}
		}
		.section-title{
			padding-bottom: px(30);
		}
	}
	.section-developer{
		@include section-border;
		padding-top: px(80);
		padding-bottom: px(80);
		.el-float-obj {
			&.num-1{
				bottom: px(-150);
				left: px(-20);
			}
			&.num-2{
				top: px(145);
				right: px(-240);
			}
		}
		.section-title{
			padding-bottom: 2em;
		}
		@media (max-width: $breakpoint-md){
			.image-wrap {
				text-align: center;
				img {
					display: inline-block;
				}
			}
		}
	}
}
.page-project{
	.section-intro{
		.el-float-obj {
			&.num-1{
				bottom: px(-170);
				left: px(-20);
			}
			&.num-2{
				top: px(20);
				right: px(-220);
			}
		}
	}
	.section-slider{
		padding-top: px(80);
		padding-bottom: px(80);
		.el-float-obj {
			&.num-1{
				bottom: px(-130);
				right: px(-120);
			}
		}
	}
	.section-benefits{
		padding-top: px(80);
		padding-bottom: px(40);
		.el-float-obj {
			&.num-1{
				bottom: px(-150);
				left: px(-20);
			}
		}
	}
	[class*=section-item-]{
		padding-top: px(100);
	}
}
.page-locality{
	.section-intro{
		.el-float-obj {
			&.num-1{
				top: 40%;
				right: px(-160);
			}
		}
	}
	.section-map{
		padding-top: px(80);
		padding-bottom: px(80);
		> .inner-wrap{
			@include container-gutter();
		}
		.map-wrap{
			position: relative;
			padding-bottom: px(600);
			height: 0;
			overflow: hidden;
			@media (max-width: $breakpoint-small){
				padding-bottom: 100%;
			}
			.map-embed {
				position: absolute;
				top: 0;
				left: 0;
				width: 100%;
				height: 100%;
				img { max-width: inherit; max-height: inherit; }
			}
			//@media (min-width: ($breakpoint-small + 1)){
			//	@include iframe-responsive(px(600))
			//}
			//@media (max-width: $breakpoint-small){
			//	@include iframe-responsive(100%);
			//}
		}
	}
	.section-benefits{
		padding-top: px(50);
		.el-float-obj {
			&.num-1{
				top: px(-300);
				right: 0;
			}
			&.num-2{
				top: px(-40);
				left: px(-160);
			}
		}
	}
	[class*=section-item-]{
		padding-top: px(100);
        @media (min-width: $breakpoint-xl){
          padding-top: px(180);
        }
	}
	.section-item-1{
		.el-float-obj {
			&.num-1{
				bottom: px(-130);
				left: px(-190);
			}
		}
	}
	.section-item-3{
		.el-float-obj {
			&.num-1{
				top: px(-140);
				left: px(-220);
			}
		}
	}
}
.page-developer{
	.section-intro{
        .el-h1 {
          margin-bottom: 1em;
        }
		img{
			margin-top: px(50);
		}
		.el-float-obj {
			&.num-1{
				bottom: px(-50);
				right: px(50);

			}
			&.num-2{
				top: px(40);
				right: px(-200);
			}
			&.num-3{
				bottom: px(-250);
				left: px(-250);
			}
		}
		.intro-logo {
			margin: 3.5em auto 4em;
			width: px(231);
		}
	}
	.section-benefits{
		padding-top: px(100);
		padding-bottom: px(150);
		@media (max-width: $breakpoint-md){
			padding-bottom: px(0);
		}
        .el-h3 {
          margin-bottom: 2em;
        }
        .block-title{
          margin-bottom: px(90);
        }
		.el-float-obj {
			&.num-1{
				bottom: px(-140);
				right: 0;
			}
			&.num-2{
				top: px(20);
				right: px(100);
			}
			&.num-3{
				bottom: px(-150);
				left: px(-80);
			}
		}
	}
	[class*=section-item-]{
		padding-top: px(100);
	}
	.section-item-1,
	.section-item-3 {
		.block-halves {
			.image-wrap {
				width: 55%;
				margin-right: 2.5%;
			}
		}
	}
	.section-item-2 {
		.block-halves {
			.image-wrap {
				width: 55%;
				margin-left: 2.5%;
			}
		}
	}
	.section-item-1{
		.el-float-obj {
			&.num-1{
				bottom: px(-130);
				left: px(-230);
			}
		}
	}
	.section-item-2{
		.el-float-obj {
			&.num-1{
				bottom: px(-400);
				left: px(0);
			}
		}
	}
}
.page-apartman{
	.section-intro{
		@include section-border;
		padding-bottom: px(80);
		.el-float-obj {
			&.num-1{
				bottom: 20%;
				left: px(80);
			}
			&.num-2{
				bottom: px(-220);
				right: px(-300);
			}
		}
	}
	.section-visualization{
		padding-top: px(50);
		padding-bottom: px(50);
		.el-float-obj {
			&.num-1{
				bottom: px(-250);
				left: px(-40);
			}
			&.num-2{
				top: px(350);
				left: px(-230);
			}
			&.num-3{
				top: px(340);
				right: px(-180);
			}
			&.num-4{
				top: px(750);
				left: px(-140);
			}
		}
		.section-title{
			padding-bottom: px(30);
		}
		.block-plan{
			margin-top: px(50);
		}
	}
}
.page-wellness {
	.section-gallery {
		@include section-border;
		> .inner {
			padding-top: px(60);
			padding-bottom: px(210);
			@media (max-width: $breakpoint-md) {
				padding-bottom: px(60);
			}
		}
		.el-float-obj {
			&.num-1 {
				top: px(30);
				left: px(50);
			}
			&.num-2 {
				top: px(190);
				left: px(50);
			}
			&.num-3 {
				top: px(80);
				right: 0;
			}
			&.num-4 {
				top: px(420);
				right: px(55);
			}
			&.num-5 {
				left: px(220);
				bottom: px(30);
			}
			&.num-6 {
				left: px(-200);
				bottom: px(110);
			}
		}
	}
}

.request-quote{
	position: relative;
	padding: px(40);
	box-sizing: border-box;
	border: 1px solid #000;
	text-align: left;
	display: none;
	.wpcf7-form {
		.form_holder {
			transition: 0.25s;
		}
		&.sent {
			.form_holder {
				opacity: 0.15;
				pointer-events: none;
				user-select: none;
			}
		}
	}
	.wpcf7-response-output {
		padding: 1rem;
		margin: 2rem 0 0;
		font-size: 1rem;
		border: none;
		background: #a21654;
		color: #fff;
		&.wpcf7-mail-sent-ok {
			background: #5c840b;
		}
	}
	input, textarea {
		&.wpcf7-not-valid {
			border-color: #a21654;
			background: rgba(#a21654, 0.05);
		}
	}
	&__close{
		position: absolute;
		top: px(23);
		right: px(23);
		display: none;
		width: px(25);
		height: px(25);
		border: none;
		cursor: pointer;
		background: transparent url("../i/icon-close@2x.png") no-repeat center center;
		background-size: 100% 100%;
	}
	&__heading{
		font-size: px(25);
		line-height: px(28);
		letter-spacing: px(2);
		text-transform: uppercase;
		text-align: center;
		margin-bottom: px(40);
		font-family: 'HansKendrickRegular', Helvetica, Arial, sans-serif;
	}
	.input_holder{
		width: 100%;
		margin-bottom: px(16);
		@include clearfix;
		&__control {
			float: left;
			width: calc(50% - 8px);
			&:first-of-type{
				margin-right: 16px;
			}
		}
		.request-quote__input{
			width: 100%;
		}
	}
	&__input,
	&__textarea{
		border: 1px solid #000;
		box-sizing: border-box;
		display: block;
		color: #000;
		font-size: px(18);
		font-family: 'HansKendrickRegular', Helvetica, Arial, sans-serif;
		background: transparent;
		&::-webkit-input-placeholder {
			color: rgba(54, 47, 45, 0.5);
		}
		&:-moz-placeholder {
			color: rgba(54, 47, 45, 0.5);
			opacity: 1;
		}
		&::-moz-placeholder {
			color: rgba(54, 47, 45, 0.5);
			opacity: 1;
		}
		&:-ms-input-placeholder {
			color: rgba(54, 47, 45, 0.5);
		}
	}
	&__input{
		height: px(58);
		line-height: px(56);
		padding: 0 px(32);
	}
	&__textarea{
		padding: px(16) px(32);
		width: 100%;
		resize: vertical;
		height: px(100);
		margin-bottom: px(16);
	}
	&__button{
		display: inline-block;
		cursor: pointer;
		background: $color-primary;
		color: #fff;
		text-transform: uppercase;
		font-family: 'HansKendrickRegular', Helvetica, Arial, sans-serif;
		font-size: px(18);
		letter-spacing: px(0.5);
		padding: 0 px(30);
		height: px(58);
		line-height: px(58);
		border: none;
		&:hover{
			background: #6f9a17;
		}
	}
}

//=============================================================================
// COMING SOON
//=============================================================================
.page-coming-soon {
	@function px($val) {
		@return 1rem * $val / 16;
	}
	font-size: 60%;
	body {
		font-family: 'Bebas Neue';
	}
	.logo {
		position: relative;
		margin: px(80) auto 0;
		width: px(560);
		z-index: 10;
		max-width: 90%;
	}
	.overview {
		margin: px(-50) auto 0;
		width: px(1400);
		max-width: 90%;
	}
	.headline {
		display: flex;
		align-items: center;
		flex-direction: column;
		text-align: center;
		h1 {
			text-transform: uppercase;
			background: #000000;
			color: #aaaeb1;
			padding: px(25) px(65);
			margin: px(-50) auto 0;
			font-size: px(96);
			font-weight: bold;
			@media (max-width: $breakpoint-sm){
				padding: px(16) px(40);
				font-size: px(56);
			}
		}
		h2 {
			font-family: 'Bebas Neue Book';
			text-transform: uppercase;
			background: #ae9f7f;
			color: #000000;
			padding: px(15) px(50);
			margin: px(-15) auto 0;
			font-size: px(72);
			@media (max-width: $breakpoint-sm){
				font-size: px(36);
				margin-top: px(-10);
			}
		}
	}
	.content {
		p {
			text-transform: uppercase;
			font-size: px(42);
			color: #000;
			margin: px(60) auto 0;
			text-align: center;
		}
	}
	.request-quote {
		display: block;
		padding: 0;
		border: 0;
		margin: px(40) auto px(200);
		width: px(1200);
		max-width: 90%;
		.form-label {
			color: #ae9f7f;
			margin-top: 0;
		}
		.form_holder {
			margin-top: px(40);
		}
		p {
			margin: 0;
		}
		br {
			display: none;
		}
		textarea, input {
			font-family: inherit;
			font-weight: bold;
		}
		input[type="submit"] {
			margin-top: 0;
			background: #ae9f7f;
			font-size: px(42);
			padding-left: px(100);
			padding-right: px(100);
			appearance: none;
		}
		span.wpcf7-not-valid-tip {
			margin-top: px(10);
		}
		.wpcf7-response-output {
			font-size: px(42);
		}
		.input_holder__control {
			@media (max-width: $breakpoint-sm){
				float: none;
				width: 100%;
				margin-bottom: 16px;
			}
		}
	}
}