$images-url  : '../i/';
$fonts-url  : '../font/';

$color-white: #fff;
$color-black: #000;
$color-gray: #dedede;
$color-bg: #e1dcc7;
$color-primary: #5c840b;

$color-text-primary: #362f2d;
$color-text-secondary: $color-primary;

$color-vis: #a21654;

$color-plan-1: #0094b9;
$color-plan-2: #29ab7e;
$color-plan-3: #9a3588;
$color-plan-4: #afa091;
$color-plan-5: #dc9632;

$breakpoint-xl: 1400px;
$breakpoint-lg: 1100px;
$breakpoint-md: 992px;
$breakpoint-sm: 768px;
$breakpoint-xs: 480px;
$breakpoint-us: 380px;
$breakpoint-small: $breakpoint-sm;

$font-size-large: 18;
$font-size-base: 15;

$page-width: 1020;
$page-gutter-large: 30;
$page-gutter-small: 20;

$text-offset: 30;
$block-offset: 80;
$space-after-paragraph: 15;

$transition-time: .3s;
$transition-fx: ease-out;
$transition: all $transition-time $transition-fx;